{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "browsers": [
                        "ie >= 11"
                    ]
                },
                "useBuiltIns": "usage",
                "exclude": [
                    "transform-async-to-generator",
                    "transform-regenerator"
                ]
            }
        ],
        "@babel/preset-react"
    ],
    "plugins": [
        "async-to-promises",
        "transform-class-properties",
        "transform-object-rest-spread",
    ]
}
